Login.css

body, html {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;

  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 400px;
    text-align: center;
  }
  
  .login-form h1 {
    color: rgb(0, 255, 0);
    padding: 10px;
    font-size: 40px;
    font-weight: 900;
  }
  
  .login-button {
    margin-top: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  