.qaedit-button {
    margin: 10px;
    padding: 10px;
    width: 50%;
    text-align: center;
    justify-items: center;
}

.qaedit-form {
    border: 1px solid #bababa;
    padding: 15px;
    margin: 15px;
    align-items: center;
    border-radius: 5px;
}

.qaedit-question-form {
    padding: 15px;
    margin: 15px;
    align-items: center;
}

.qaedit-question {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.qaedit-question input {
    border-radius: 5px;
    height: 40px;
    padding: 5px;
    border-style: solid;

}

.qaedit-question textarea {
    border-radius: 5px;
    height: 100px;
    padding: 5px;
    border-style: solid;

}