* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.columnBrake {
    display: flex;
    height: 100vh; /* フルスクリーンの高さ */
}

.mainbody {
    flex-grow: 1;
    padding: 20px; /* メインコンテンツのパディング */
    overflow-y: auto; /* スクロール可能にする */
}

.usertable-y {
    height: 85vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll; /* 縦のスクロールを許可 */
    width: 100%; /* 幅を100%に設定 */
}

.usertable-y .chat-item {
    display: flex;
    justify-content: space-between; /* アイテム内の要素を均等に配置 */
    padding: 10px; /* パディングを追加 */
    border-bottom: 1px solid #e5e7eb; /* 下にボーダーを追加 */
    cursor: pointer; /* カーソルをポインターに */
}

.usertable-y .chat-item:hover {
    background-color: #f4f4f8; /* ホバー時に背景色を変更 */
}

.usertable-y .even-row {
    background-color: #f9f9f9; /* 偶数行の背景色 */
}

/* 検索バーのスタイル */
.admin-search-container {
    margin-top: 10px;
    margin-bottom: 20px; /* 検索バーの下にマージン */
    display: flex;
    justify-content: flex-end;
}

.admin-search-move-right {
    display: flex;
    margin-right: 20px;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-top: 7px;
    padding: 5px 15px;
    position: relative;
    right: 10px;
}

/* ローディング状態のスタイル */
.loading-state {
    text-align: center;
    color: gray;
}

.admin-search-move-right input {
    border-style: none;
    outline: none;
    width: 290px;
}

.admin-dm-box {
    display: flex;
}

.admin-dm-list {
    display: block;
    width: 90%;
}

.table-scroll-container {
    max-height: 80vh; /* 必要に応じて高さを調整 */
    overflow-y: scroll; /* 縦方向のスクロールを有効にする */
    overflow-x: hidden; /* 横方向のスクロールを隠す */
  }
  