.trading-list li {
    border: 1px solid #bababa;
    padding: 15px;
    margin: 15px;
    align-items: center;
    border-radius: 5px;
} 

.seder-time {
    display: flex;
    justify-content: space-between;
}

.sender {
    font-size: 13px;
}

.time {
    color: rgb(106, 107, 107);
}

.list {
    margin: 0;
    padding: 0;
    height: 59vh;
    width: 99%;
    overflow-y: scroll;
    list-style-type: none;
}