html {
  font-family: 'Noto Sans JP', sans-serif;
}

/* テーブル全体のスタイル */
table {
  width: -webkit-fill-available;
  border-collapse: collapse;  /* セルのボーダーを結合 */
  table-layout: auto;  /* 各列の幅を自動調整 */
  margin: 20px;  /* テーブルの上下に余白を設定 */

}

h1 {
  margin: 20px;
  text-align: center;
}

/* ヘッダーのスタイル */
th {
  color: #333; 
  padding: 20px ;
  text-align: center;
  background-color: #dedede86; 
}

/* セルのスタイル */
td {
  border: 1px solid #ddd; /* セルの境界線 */
  padding: 10px; /* セルの内側の余白 */
  text-align: center;
  width: auto;
}



/* 行のホバー時のスタイル */
tr:hover {
  background-color: #c6d2e491; /* ホバー時の背景色 */
}

/* ボタンのスタイル */
button {
  background-color: #000; /* ボタンの背景色（黒） */
  color: #fff; /* ボタンの文字色（白） */
  border: none; /* ボタンの境界線をなしに */
  padding: 5px 10px; /* ボタンの内側の余白 */
  cursor: pointer; /* カーソルをポインタに変更 */
  border-radius: 10%; /* ボタンの角を少し丸める */
}

/* ボタンのホバー時のスタイル */
button:hover {
  background-color: #444; /* ホバー時のボタンの背景色 */
}

button:disabled {
  cursor: not-allowed;  /* カーソルを無効に変更 */
}


.fixed-th{
  position: sticky;
  top: 0;
  color: #fff;
  background: #333;
  border: 1px solid #ccc;
} 

.user-type-selector {
  display: flex;
  margin: 12px 0px 0px 23px;
  justify-content: flex-start;
  align-items: center;
}

.user-type-selector p {
  font-size: 15px;
}

.user-type-selector select {
  height: 25px;
  border-radius: 5px;
}

.even-row {
  background-color: #cecece;
}

tr {
  cursor: pointer;
}

.fixed-tbody {
  overflow-y: scroll;
  margin-top: 10px;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.search-move-right {
  display: flex;
  align-items: center;
  margin: 20px 20px 0 0;
  padding: 10px 16px 10px 20px;
  border-style: double;
  border: 1px solid gray;
  background-color: white;
  border-radius: 30px;
}

.search-move-right input {
  border-style: none;
  outline: none;
}