/* テーブル全体のスタイル */
table {
  width: -webkit-fill-available;
  border-collapse: collapse;  /* セルのボーダーを結合 */
  table-layout: auto;  /* 各列の幅を自動調整 */
  margin: 20px;  /* テーブルの上下に余白を設定 */

}

h1 {
  margin: 20px;
  text-align: center;
}

/* ヘッダーのスタイル */
th {
  color: #333; 
  padding: 20px ;
  text-align: center;
  background-color: #dedede86; 
}

/* セルのスタイル */
td {
  border: 1px solid #ddd; /* セルの境界線 */
  padding: 10px; /* セルの内側の余白 */
  text-align: center;
  width: auto;
}



/* 行のホバー時のスタイル */
tr:hover {
  background-color: #c6d2e491; /* ホバー時の背景色 */
}

/* ボタンのスタイル */
button {
  background-color: #000; /* ボタンの背景色（黒） */
  color: #fff; /* ボタンの文字色（白） */
  border: none; /* ボタンの境界線をなしに */
  padding: 5px 10px; /* ボタンの内側の余白 */
  cursor: pointer; /* カーソルをポインタに変更 */
  border-radius: 10%; /* ボタンの角を少し丸める */
}

/* ボタンのホバー時のスタイル */
button:hover {
  background-color: #444; /* ホバー時のボタンの背景色 */
}


.fixed-th{
  position: sticky;
  top: 0;
  color: #fff;
  background: #333;
  border: 1px solid #ccc;
} 

