* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: left;
    margin: 20px;
}

.user-div {
    display: flex;
    align-items: center;
}

.user-div2 {
    padding-left: 10px;
}

.product-item {
    display: inline-block;
}

.request-item {
    border: 1px solid #ccc;        /* 薄いグレーのボーダー */
    border-radius: 8px;           /* 角を丸くする */
    padding: 16px;                /* 内側の余白 */
    margin: 10px 0;               /* 上下のマージン */
    background-color: #f9f9f9;    /* 背景色 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 軽い影 */
    width: 80%;
    margin:  0 auto;            /* 中央寄せ */
    margin-top: 10px;
    margin-bottom: 10px;
}

.request-image {
    max-width: 100%; /* 親要素の幅に合わせて最大幅を設定 */
    height: auto; /* 高さを自動調整してアスペクト比を維持 */
    max-height: 200px; /* 最大高さを設定（必要に応じて調整） */
    margin-top: 10px; /* 上部に余白を追加 */
}

.request-user-icon {
    width: 40px; /* サイズを調整 */
    height: 40px; /* サイズを調整 */
    border-radius: 50%; /* 丸くする */
    margin-right: 10px; /* アイコンと名前の間のスペース */
}

.profile {
    display: flex;                 /* フレックスボックスを使用 */
    align-items: center;           /* 中央揃え */
    margin-bottom: 8px;           /* 下のマージン */
}

.name {
    font-weight: bold;             /* 名前を太字に */
    font-size: 1.1em;              /* フォントサイズを大きく */
    margin-right: 10px;            /* 名前と時間の間にスペース */
}

.time {
    font-size: 0.9em;              /* フォントサイズを小さく */
    color: #888;                   /* 薄いグレーの色 */
}

.content {
    margin-top: 10px;              /* 上のマージン */
}

.request-image {
    max-width: 100%;               /* 画像の最大幅を親要素に合わせる */
    height: auto;                  /* 高さを自動調整 */
    border-radius: 5px;           /* 画像の角を丸くする */
    margin-top: 8px;              /* 上のマージン */
}

.created-at {
    margin: 0 auto;
    font-size: 12px;              
    color: #888;  
}

.delete-button {
    background-color: #ff4d4d; /* 赤色 */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .delete-button:hover {
    background-color: #e60000; /* ホバー時の色 */
  }

  .title-button-div {
    display: flex;
    justify-content: space-between;
  }
  
.filter-flex .filter-dropdown {
    display: flex;
    font-size: 12px;
}

.filter-dropdown select.filter-select {
    font-size: 12px;
    padding: 5px;
}

.filter-select-flex {
    display: flex;
    align-items: center;
    padding: 5px 20px 5px 5px;
}

.filter-checkbox-flex {
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 5px;
}

.filter-flex .admin-products-list {
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
    list-style-type: none;
    overflow-y: scroll;
    width: 100%;
}

.overflow-request {
    overflow-y: scroll;
    height: 77vh;
}