* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.columnBrake {
    display: flex;
  height: 100vh; /* Full screen height */
  }

.mainbody {
    flex-grow: 1;
}

.usertable-y {
    height: 90vh;
    list-style-type: none;
    margin: 0;
    overflow-y: scroll;
    padding: 0;
    width: 99%;
}