.product-manager-listedproducts {
  padding: 20px;
  
}

.filter-buttons {
  margin: 20px 0 5px 5px;
}

.filter-buttons button {
  margin-right: 10px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  width: 100%;
  overflow-y: scroll;
  list-style-type: none;
}

.product-item {
  flex: 1 1 calc(20% - 16px); /* 横幅を画面の20%に設定 (5つ並べる) */
  max-width: calc(20% - 6px); /* 最大幅 */
  box-sizing: border-box; /* パディングを含めたサイズ計算 */
  border: 1px solid #9d9d9d;
  border-radius: 5px;
  height: 200px;
  width: 289px;
  margin: 3px;
  padding: 3px;
}

.image-detail-flex {
  display: flex;
}

.product-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: bold;
  margin-right: 10px;
  font-size: 14px;
}

.date {
  font-size: 12px;
  color: #666;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 15px;
}

.product-details  {
  font-size: 10px; 
  line-height: 1.5;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.product-description p {
  font-size: 10px;
  line-height: normal;
  text-overflow: ellipsis;
}

.loading {
  margin-top: 200px;
  text-align: center;
}
.loading img {
  max-width: 80%;
  max-height: 100px;
}

strong {
  font-size: 15px;
}

.filter-dropdown {
  margin: 10px; /* 上下のマージン */
  display: flex;
  align-items: center; /* ラベルとセレクトボックスを中央揃え */
}

.filter-dropdown label {
  margin-right: 10px; /* ラベルとセレクトボックスの間にスペース */
}

.filter-dropdown select {
  padding: 10px; /* 内側のスペース */
  border: 1px solid #ccc; /* ボーダーの色 */
  border-radius: 4px; /* 角を丸くする */
  font-size: 16px; /* フォントサイズ */
  cursor: pointer; /* カーソルをポインターに */
  transition: border-color 0.3s; /* ボーダーカラーのトランジション */
}

.filter-dropdown select:focus {
  border-color: #007bff; /* フォーカス時のボーダー色 */
  outline: none; /* デフォルトのアウトラインを非表示 */
}
