.product-manager {
  padding: 20px;
  
}

.filter-buttons {
  margin: 20px 0;
}

.filter-buttons button {
  margin-right: 10px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-item {
  flex: 1 1 calc(20% - 16px); /* 横幅を画面の20%に設定 (5つ並べる) */
  max-width: calc(20% - 6px); /* 最大幅 */
  box-sizing: border-box; /* パディングを含めたサイズ計算 */
  border: 1px solid #9d9d9d;
  border-radius: 5px;
  height: 200px;
  width: 289px;
  margin: 3px;
  padding: 3px;
}

.image-detail-flex {
  display: flex;
}

.product-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: bold;
  margin-right: 10px;
  font-size: 14px;
}

.date {
  font-size: 12px;
  color: #666;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 15px;
}

.product-details  {
  font-size: 10px; 
  line-height: 1.5;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

p {
  font-size: small;
  line-height: normal;
}

.product-details-title p{
  font-size: 16px; 
  font-weight: bold; 
  white-space: normal;
}
