.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full screen height */
  }
  
.qa-list {
  margin: 20px;
  text-align: center;
}

.question-list {
  margin: 0;
  padding: 0;
  height: 70vh;
  width: 100%;
  overflow-y: scroll;
  list-style-type: none;
}
  
.question-item {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-items: center;
  line-height: normal;
  text-align: left;
}

.question-item p {
  margin-left: 10px;
}

.question-item input {
  margin-left: 17px;
}

.add-button, .delete-button, .edit-button {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.delete-button {
  background-color: #d53e3e;
  margin-right: 10px;
}

.add-button {
  margin: 10px;
}

.edit-button {
  margin: 10px;
}

.add-button:hover, .delete-button:hover, .edit-button:hover {
  opacity: 0.8;
}
  
.qa-content{
  flex-grow: 1;
  margin: 5px;
  
}

.qa-content p {
  font-size: 15px;
}


.add-delete-button {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}