body {
    margin: 0;
    padding: 0;
  }
  .NavbarItems {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    height: 50px;
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: space-between
  }
  
  .NavbarItems h1 {
    color: rgb(0, 255, 0);
    padding: 10px;
    font-size: 40px;
    font-weight: 900;
  }
  .logo {
    width: 20%;
    float: left;
  }

li {
  list-style: none;
}

.user-name {
  color: white;
  margin: 10px;
  font-size: small;
} 

.Navbar-logo img {
  width: 18vh;
  height: 7vh;
  margin-top: 28px;
}