/* CSSリセット - すべての既存のCSSスタイルを無効化 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html, body {
    height: 100%;
    font-family: sans-serif;
}

.loginProfile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
}

.managementList {
    margin: 10px;
    padding: 10px;
}

li {
    padding: 10px;
    margin: 10px;
    list-style: none;
}